/* variables */
:root {
    --main-color: #19c8fa;
    --trasparent-color: rgb(15 116 143 / 50%);
    --second-color: #555;
    --third-color: #777;
}
/* variables */

/* global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "open sans", sans-serif;

}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* media queries */
/* small */
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules  */

/* start componenets */
.main-heading {
    text-align: center;
    padding: 0 60px;
    padding-bottom: 100px;
}
.main-heading p {
    width: 550px;
    margin: 0 auto;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 55px;
    text-transform: uppercase;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    background-color: #333;
    bottom: -38px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: whitesmoke;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
} 
/* end componenets */

/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: whitesmoke;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav .toogle-menu {
    font-size: 20px;
    color: whitesmoke;
}
@media (min-width: 768px) {
    nav .toogle-menu {
        display: none;
    }
}
nav .toogle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(35, 35, 46, 0.541);
}
nav .toogle-menu:hover + ul li a {
    padding: 15px;
}
nav ul {
    display: flex;
}
@media (max-width: 767px) {
    nav ul {
        display: none;
    }
}
ul li a {
    padding: 40px 10px;
    color: whitesmoke;
    display: block;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
ul li a:hover,
ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid whitesmoke;
}
.form i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: whitesmoke;
}
/* end header */

/* start landing */
.landing {
    min-height: 100vh;
    background-color: rgba(35, 35, 46, 0.541);
    background-image: url("../resources/landing.jpg");
    background-size: cover;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--trasparent-color);
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    border-radius: 0px 5px 5px 0px;
}
@media (max-width: 991px) {
    .landing .text {
        width: 70%;
    }
}
.landing .text .content {
    max-width: 550px;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
/* .landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .fa-angle-left {
    left: 30px;
} */
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);   
}
/* end landing */

/* services */
.services {
    padding-bottom: 100px;
    padding-top: 100px;
}
@media (min-width: 768px){
.container .serv-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));   
    column-gap: 40px;
    row-gap: 60px;
}
.box i {
    transform: translateY(10px);
}
}
.services .box {
    display: flex;
}
.box i {
    margin-right: 50px;
}
.box .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box .text p {
    line-height: 2;
    color: #777777e3;
}
.box .text h3 {
    color: var(--main-color);
}

@media (max-width: 767px) {
    .services .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .box i {
        margin: 0 0 20px;
    }   
.box .text {
    gap: 10px;
}
}
/* services */

/* design */
.design {
        padding-bottom: 100px;
        padding-top: 100px;
        height: 600px;
        position: relative;
        background-image: url("../resources/design-features.jpg");
        background-size: cover;
        display: flex;
        align-items: center;
        overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image  {
    text-align: center;
}
@media (max-width: 991px) {
    .design .image {
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;
}
.design .text {
    color: whitesmoke;
    padding: 50px;
    background-color: var(--trasparent-color);
    border-radius: 5px 0 0 5px;
}
.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px 0;

}
.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
}

/* design */
/* portfolio */
.portfolio {
    padding-top: 100px;
    padding-bottom: 0px;
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: whitesmoke;
}
.portfolio .imgs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs .box {
    position: relative;
    overflow: hidden;
}
.portfolio .imgs .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .portfolio .imgs .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .imgs .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: whitesmoke;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .imgs .box .caption h4 {
    font-weight: normal;
}
.portfolio .imgs .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: whitesmoke;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
}
/* portfolio */

/* video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.video video {
    width: 100%;
}
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--trasparent-color);
    text-align: center;
    color: whitesmoke;
}
.video .text h2 {
    font-weight: normal;
    margin: 0 0 30px;
}
.video .text p {
    margin: 0 0 30px;
}
.video .text button {
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    text-transform: uppercase;
}
/* video */