/* variables */
:root {
    --main-color: #00c8ff;
    --trasparent-color: rgba(0, 55, 70, 0.5);
    --second-color: #555;
    --third-color: #777;
}
/* variables */

/* global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "open sans", sans-serif;

}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* media queries */
/* small */
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules  */

/* start componenets */
.main-heading {
    text-align: center;
    padding: 0 60px;
    padding-bottom: 100px;
}
.main-heading p {
    width: 550px;
    margin: 0 auto;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 55px;
    text-transform: uppercase;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    background-color: #333;
    bottom: -38px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
    transition: background-color 0.3s;
}
.main-heading h2:hover::after{
    background-color: var(--third-color);
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
    transition: width 0.3s;
} 
.main-heading h2:hover::before {
    width: 250px;
}
/* end componenets */

/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: whitesmoke;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav .toogle-menu {
    font-size: 20px;
    color: whitesmoke;
}
@media (min-width: 768px) {
    nav .toogle-menu {
        display: none;
    }
}
nav .toogle-menu:hover + ul {
    display: flex;
    left: 0;
    width: 100%;
    background-color: rgba(35, 35, 46, 0.541);
    flex-direction: column;
    position: absolute;
    top: 100%;
}
nav .toogle-menu:hover + ul li a {
    padding: 15px;
}
nav ul {
    display: flex;
}
@media (max-width: 767px) {
    nav ul {
        display: none;
    }
}
ul li a {
    padding: 40px 10px;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    color: whitesmoke;
    display: block;
}
ul li a:hover,
ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid whitesmoke;
}
.form i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: whitesmoke;
}
/* end header */

/* start landing */
.landing {
    min-height: 100vh;
    background-color: rgba(35, 35, 46, 0.541);
    background-image: url("../resources/landing.jpg");
    background-size: cover;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.landing .text {
    position: absolute;
    width: 50%;
    padding: 50px;
    background-color: var(--trasparent-color);
    color: whitesmoke;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    border-radius: 0px 5px 5px 0px;
    transition:backdrop-filter 0.3s;
}
.landing .text:hover {
    backdrop-filter: blur(5px);
}
@media (max-width: 991px) {
    .landing .text {
        width: 70%;
    }
}
.landing .text .content {
    max-width: 550px;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        border-radius: 0px;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
/* .landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .fa-angle-left {
    left: 30px;
} */
.landing .bullets {
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);   
}
/* end landing */

/* services */
.services {
    padding-bottom: 100px;
    padding-top: 100px;
}
@media (min-width: 768px){
.container .serv-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));   
    column-gap: 30px;
    row-gap: 30px;
}
.box i {
    transform: translateY(10px);
}
}
.services .box {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s, transform 0.3s;
}
.services .box:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px #dbdbdb;
}
.box i {
    margin-right: 50px;
}
.box .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box .text p {
    line-height: 2;
    color: #777777e3;
}
.box .text h3 {
    color: var(--main-color);
}

@media (max-width: 767px) {
    .services .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .box i {
        margin: 0 0 20px;
    }   
.box .text {
    gap: 10px;
}
}
/* services */

/* design */
.design {
        padding-bottom: 100px;
        padding-top: 100px;
        height: 600px;
        display: flex;
        align-items: center;
        position: relative;
        background-image: url("../resources/design-features.jpg");
        background-size: cover;
        overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image  {
    text-align: center;
}
@media (max-width: 991px) {
    .design .image {
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;
    display: none;
}
.design .text {
    color: whitesmoke;
    border-radius: 5px 0 0 5px;
    padding: 50px;
    background-color: var(--trasparent-color);
    transition: backdrop-filter 0.3s;
}
.design .text:hover {
    backdrop-filter: blur(5px);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px 0;

}
.design .text ul li::before {
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: "\f108";
    margin-right: 20px;
}

/* design */
/* portfolio */
.portfolio {
    padding-top: 100px;
    padding-bottom: 0px;
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}
.portfolio .shuffle li:hover {
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
}
/* .portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: whitesmoke;
} */
.portfolio .imgs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs .box {
    position: relative;
    overflow: hidden;
}
.portfolio .imgs .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .portfolio .imgs .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .imgs .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs .box .caption {
    position: absolute;
    transition: 0.3s;
    bottom: -100%;
    left: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.portfolio .imgs .box .caption h4 {
    font-weight: normal;
}
.portfolio .imgs .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    width: fit-content;
    margin: 30px auto;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    display: block;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 3px;
}
.portfolio .more:hover {
    transform: scale(1.05);
}
/* portfolio */

/* video */
.video {
    position: relative;
}
.video::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}
.video video {
    width: 100%;
}
.video .text {
    width: 100%;
    background-color: var(--trasparent-color);
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding: 50px;
    color: whitesmoke;
    transition: backdrop-filter 0.3s;
}
.video .text:hover {
    backdrop-filter: blur(5px);
}
.video .text h2 {
    margin: 0 0 30px;
    font-weight: normal;
}
.video .text p {
    margin: 0 0 30px;
}
.video .text button {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    transition: transform 0.3s;
}
.video .text button:hover {
    transform: scale(1.05);
}
/* video */

/* about */
.about {
    text-align: center;
    padding-top: 100px;
    overflow: hidden;
}
.about img {
    position: relative;
    max-width: 100%;
    bottom: -120px;
    margin-top: -120px;
}
@media (max-width: 767px) {
    .about img {
        margin-top: -60px;
        bottom: -60px;
    }
}
/* about */

/* stats */
.stats {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    background-image: url(../resources/stats.png);
    background-size: cover;
}
.stats::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.774);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    color: whitesmoke;
    padding: 50px;
    background-color: var(--trasparent-color);
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    margin: 0 0 50px;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stats .container .box p {
    font-size: 14px;
}
.stats .container .box:first-child {
    border-radius: 5px 0 0 5px;
}
.stats .container .box:last-child {
    border-radius: 0 5px 5px 0;
}
/* stats */

/* skills */
.our-skills {
    padding-top: 100px;
    padding-bottom: 100px;
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
.our-skills .container > div {
    flex-basis: 45%;
}
}
.our-skills .container > div > h3{
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}
.our-skills .content img {
    width: 100px;
    margin-right: 50px;
    border: 2px solid #b13dff;
    border-radius: 50%;
}
@media (max-width: 767px) {
    .our-skills .content img {
        margin: 0 auto 20px;
    }
    .our-skills .content {
        flex-direction: column;
        text-align: center;

    }
}
.our-skills .content .text {
    line-height: 2;
    border-bottom: 1px solid #ccc;
}
.our-skills .content .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .content .text h4 {
    margin: 0;
    font-weight: normal;
}
.our-skills .bullets {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 7px;
}
.our-skills .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
}
.our-skills .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
    height: 30px;
    background-color: #dedadc;    
}
.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: whitesmoke;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    top: -15px;
    right: -8px;
}
/* skills */