/* variables */
:root {
    --main-color: #19c8fa;
    --trasparent-color: rgb(15 116 143 / 50%);
    --second-color: #555;
    --third-color: #777;
}
/* variables */

/* global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "open sans", sans-serif;
    background-color: rgb(35, 35, 46);
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* media queries */
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules  */

/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: whitesmoke;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav .toogle-menu {
    font-size: 20px;
    color: whitesmoke;
}
@media (min-width: 768px) {
    nav .toogle-menu {
        display: none;
    }
}
nav .toogle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(35, 35, 46, 0.541);
}
nav .toogle-menu:hover + ul li a {
    padding: 15px;
}
nav ul {
    display: flex;
}
@media (max-width: 767px) {
    nav ul {
        display: none;
    }
}
ul li a {
    padding: 40px 10px;
    color: whitesmoke;
    display: block;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
ul li a:hover,
ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid whitesmoke;
}
.form i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: whitesmoke;
}
/* end header */

/* start landing */
.landing {
    min-height: 100vh;
    background-color: rgba(35, 35, 46, 0.541);
    background-image: url("../resources/landing.jpg");
    background-size: cover;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--trasparent-color);
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    border-radius: 0px 10px 10px 0px;
}
.landing .text .content {
    max-width: 550px;
}
.landing .text .content h2 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
.landing .changeba-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);   
}
/* end landing */
